<Files ~ "^\.">
	order allow,deny
	deny from all
</Files>
<Files ~ "\.(inc|tpl|phpt)(\.php)?$">
	order allow,deny
	deny from all
</Files>

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule style/(.*) /style.php?a=$1 [L]
RewriteRule song/(.*)  /song.php?a=$1  [L]