<Files ~ "^\.">
	order allow,deny
	deny from all
</Files>
<Files ~ "(php)?\.(inc|tpl|phpt|ini)(\.php)?$">
	order allow,deny
	deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)style/(.*)$ $1style.php/$2 [NC]
RewriteRule ^(.*)song/(.*)$ $1song.php/$2  [NC]
RewriteRule ^(.*).php/(.*)$ $1.php [NC,L]