<Files ~ "^\.">
	order allow,deny
	deny from all
</Files>
<Files ~ "(php)?\.(inc|tpl|phpt|ini)(\.php)?$">
	order allow,deny
	deny from all
</Files>

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule style/(.*) /style.php [NC,L]
RewriteRule song/(.*)  /song.php  [NC,L]