body {
	background-image: url(<?php echo $this->tpldir?>img/bg.png);
}
#main {
	margin-left: -8px;
	margin-top: -8px;
	width: 800px;
}
#sidebar {
	text-align: right;
	padding-top: 10px;
	padding-left: 10px;
	width: 180px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	letter-spacing: 0.2em;
	font-size: 0.9em;
}
#sidebar ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#sidebar ul a {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
	opacity: 0.5;
}
#sidebar ul a:hover {
	opacity: 0.9;
	text-shadow: #ACACAC 2px 2px 0;
}
#content {
	width: 600px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
#content p {
	margin-top: 0px;
}
#introduction {
	padding-bottom: 1px;
}
#introduction p {
	margin-bottom: 8px;
}
h1 {
	text-transform: uppercase;
	color: #F21947;	
	font-size: 1.5em;
	font-family: sans-serif;
	opacity: 0.8;
	letter-spacing: 0.5em;
	text-shadow: #F21947 0px 0px 2px;
	margin-top: 0;
}
h2 {
	font-size: 1em;
	font-weight: bold;
}
#mawari {
	margin-top: 25px;
	margin-bottom: 15px;
}
div.box {
	background-color: #F7F4D3;
	padding: 10px;
	padding-bottom: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.box p {
	margin-bottom: 3px;
}
