header {
	margin-left: -8px;
	margin-top: -8px;
	width: 800px;
}
nav {
	text-align: right;
	padding-top: 10px;
	padding-left: 10px;
	width: 180px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	letter-spacing: 0.2em;
	font-size: 0.9em;
}
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
nav ul a {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
	opacity: 0.5;
}
nav ul a:hover {
	opacity: 0.9;
	text-shadow: #ACACAC 0px 0px 3px;
}
h1 {
	text-transform: uppercase;
	color: #F21947;	
	font-size: 1.5em;
	font-family: sans-serif;
	opacity: 0.8;
	letter-spacing: 0.5em;
	text-shadow: #F21947 0px 0px 2px;
	margin-top: 0;
}
h2 {
	font-size: 1em;
	font-weight: bold;
}
#content {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
section {
	width: 570px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

#songs {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 1px;
}
.box {
	background-color: #F7F4D3;
	padding: 10px;
	padding-bottom: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.box p {
	margin-top: 0px;
	margin-bottom: 8px;

}
footer {
	width: 770px;
	text-align: right;
}
footer a {
	color: #000000;
	opacity: 0.5;
	text-decoration: none;
}
footer a:hover {
	opacity: 0.9;
	text-shadow: #ACACAC 0px 0px 3px;	
}
td,td {
	vertical-align: top;
}
code {
	margin-left: 50px;
	display: block;
	white-space: pre-wrap;
}
